.generateLinkContainerWrapper {
  flex-grow: 1;
  background-color: #3f3d3d;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  .generateLinkContainer {
    // width: 100%;
    // max-width: 450px;
    // background-color: #000000;
    color: #ffffff;
    // border-radius: 15px;
    // box-shadow: 0px 0px 10px 0px #000000ad;
  }
}
